<div>
  <h1>Poc akita FormGroup</h1>
  <p>
    Dies ist ein Proof of concept um eine FormGroup global kontrollieren kann.
    <br />
    Die FormGroup wird mit dem AkitaStore "MyForm" erstellt.
    <br />
    Über den Service wird die FormGroup (welche als property zu dem State
    gehört) gesteuert. e.g reset, setValidators..
  </p>

  <ul>
    <li>Der Name ist optional</li>
    <li>Das Alter kann belibig sein</li>
    <li>Muss immer groesser als das Alter sein</li>
  </ul>
  <ng-container *ngIf="form$ | async as form">
    <span *ngIf="validControlsCount$ | async as validControlsCount"
      >Ich habe {{ validControlsCount }} valide formControls</span
    >
    <div class="consumer-wrapper">
      <app-consumer-one [form]="form"></app-consumer-one>
      <app-consumer-two [form]="form"> </app-consumer-two>
      <app-consumer-three [form]="form"> </app-consumer-three>
    </div>
    <div class="actions">
      <button mat-raised-button [disabled]="form.invalid">
        <ng-container
          *ngIf="
            validControlsCount$ | async as validControlsCount;
            else placeholder
          "
        >
          {{ validControlsCount }} Controls valide
        </ng-container>
        <ng-template #placeholder> Button zum versenden des Forms </ng-template>
      </button>
      <button mat-raised-button (click)="onNewForm()">Neu laden</button>
      <button
        mat-raised-button
        (click)="onNewForm({ name: 'John Doe', age: 12, olderThanAge: 10 })"
      >
        DummyDaten
      </button>
    </div>
  </ng-container>
</div>
